requests==2.27.1
PyYAML==5.4.1
kubernetes==25.3.0
pachyderm_sdk==2.7.2
torch-model-archiver==0.7.0
kserve==0.9.0
determined==0.23.4
torch==1.13.1
pandas==1.5.2
transformers==4.11.3
sentencepiece==0.1.91
scikit-learn==1.0.1
pandas